/* will be used in any element*/

.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}



/* Chrome, Edge, Safari */
.cardContainer::-webkit-scrollbar {
    width: 8px;   /* width of the vertical scrollbar */
}

.cardContainer::-webkit-scrollbar-track {
    background: #1a1a1a;  /* track color */
    border-radius: 5px;
}

.cardContainer::-webkit-scrollbar-thumb {
    background-color: #888; /* thumb color */
    border-radius: 5px;
    border: 2px solid #1a1a1a; /* space around thumb */
}

.cardContainer::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; /* thumb hover color */
}


/* Chrome, Edge, Safari */
.songlist::-webkit-scrollbar {
    width: 8px;
}

.songlist::-webkit-scrollbar-track {
    background: #121212;
}

.songlist::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

.songlist::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

/* Hide scrollbar for Chrome, Edge, Safari */
.right::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.right {
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE / Edge */
}
